<!DOCTYPE html>
<html ng-app="webApp">
<head>
    <meta charset="utf-8">

    <title>Web App Videoconferencia</title>

    <link rel="stylesheet" href="/public/stylesheets/bootstrap.css">

    <script language="JavaScript" type="text/javascript" src="../node_modules/angular/angular.js"></script>
    <script language="JavaScript" type="text/javascript" src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/angular-cookies/angular-cookies.js"></script>

    <script src="/public/javascripts/userInterface.js"></script>

    <link rel="stylesheet" href="/public/stylesheets/style.css">

    <!-- Controllers -->
    <script src='/public/module.js'></script>
    <script src='/public/javascripts/controllers/loginController.js'></script>
    <script src='/public/javascripts/controllers/registerController.js'></script>

    <!--Directivas-->
    <script src='/public/javascripts/directives/usernameValidation.js'></script>
    <script src='/public/javascripts/directives/passwordValidation.js'></script>

</head>

<body>

<% include partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <a class="active" id="login-form-link">Login</a>
                        </div>
                        <div class="col-xs-6">
                            <a id="register-form-link"> <%= lang.registro %> </a>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div ng-controller='loginController'>
                            <form ng-submit="login()" id="login-form" style="display: block;">
                                <div class="form-group">
                                    <input type="text" ng-model="credenciales.username" name="username-login" required id="username-login" tabindex="1"
                                           class="form-control" placeholder=<%= lang.username %>>
                                </div>
                                <div class="form-group">
                                    <input type="password" ng-model="credenciales.password" name="password-login" required id="password-login" tabindex="2"
                                           class="form-control" placeholder=<%= lang.pass %>>
                                </div>

                                <!-- Error al iniciar sesión -->
                                <div class="alert alert-danger" ng-if="loginError">
                                    <%= lang.loginError %>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" name="login-submit" id="login-submit" tabindex="4"
                                                   class="form-control btn btn-login" value="<%= lang.iniciarSesion%>">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="text-center">
                                                <a tabindex="5" class="forgot-password"><%= lang.olvido %></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            </div>
                            <div ng-controller='registerController'>
                                <form id="register-form" name="registerForm" ng-submit="registrar(usuario)"
                                      style="display: none;">

                                    <div class="form-group">
                                        <input type="text" ng-model='usuario.nombre' id="nombre" required minlength="3"
                                               maxlength="15" tabindex="1" class="form-control"
                                               placeholder="<%= lang.nombre %>">
                                    </div>

                                    <div class="form-group">
                                        <input type="text" ng-model='usuario.apellidos' id="apellidos" required
                                               minlength="3"
                                               maxlength="35" tabindex="1" class="form-control"
                                               placeholder="<%= lang.apellidos %>" value="">
                                    </div>

                                    <div class="form-group">
                                        <input type="text" username-validation required ng-model='usuario.username'
                                               id="username"
                                               minlength="3" maxlength="15" tabindex="1"
                                               ng-class="{error:messages.showError}"
                                               class="form-control" placeholder="<%= lang.username %>">

                                        <div ng-if="registerForm.$pending.usernameAvailable"> <%= lang.comprobarUsername %></div>
                                        <div ng-if="registerForm.$error.usernameAvailable"><%= lang.usernameNotAvailable %>
                                        </div>

                                    </div>

                                    <div class="form-group">
                                        <input type="email" ng-model='usuario.email' id="email" required tabindex="1"
                                               class="form-control" placeholder="<%= lang.email %>" value="">
                                    </div>

                                    <div class="form-group">
                                        <input type="password" id="password" name="password"  ng-model='usuario.password'
                                               minlength="8" required
                                               class="form-control" tabindex="1"
                                               placeholder="<%= lang.pass %>">
                                    </div>

                                    <div class="form-group">
                                        <input type="password" id="confirmPassword" name="confirmPassword" ng-model="confirmPassword"
                                               password-validation="password" required
                                               class="form-control" tabindex="1" placeholder="<%= lang.passConf %>">
                                    </div>

                                    <!-- Diferentes contraseñas -->
                                    <div class="alert alert-warning" ng-show='registerForm.confirmPassword.$error.samepass'>
                                        <%= lang.diffPass %>
                                    </div>


                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <button class="form-control btn-success" type="submit" id="register-submit">
                                                    <%= lang.registrarse %> </button>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</body>
</html>