<!DOCTYPE html>
<html ng-app="webApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">

    <title>Página personal</title>

    <!-- Hojas de estilos y scripts -->
    <link rel="stylesheet" href="/public/stylesheets/personalPage.css">
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">

    <script language="JavaScript" type="text/javascript" src="../node_modules/angular/angular.js"></script>
    <script language="JavaScript" type="text/javascript" src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
    <script src="../node_modules/angular-cookies/angular-cookies.js"></script>
    <script src='/public/module.js'></script>

    <!-- Controladores-->
    <script src='/public/javascripts/controllers/salaController.js'></script>
    <script src='/public/javascripts/controllers/logoutController.js'></script>

</head>
<body>

<% include partials/header %>

<div class="container">

    <div class="menu-lateral well">
            <ul class="nav nav-list">

                <li class="nav-header"><%=lang.contacts%></li>
                <li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%=lang.addContact%></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span> <%=lang.blockContact%></a></li>

                <li class="nav-header"><%=lang.rooms%></li>
                <li><a href="#"><span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span> <%=lang.createRoom%></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> <%=lang.manageRooms%></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-send" aria-hidden="true"></span> <%=lang.roomsNotifications%> <span class="badge badge-info">10</span></a></li></a></li>

                <li class="nav-header"><%=lang.settings%></li>
                <li><a href="#"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> <%=lang.accountSettings%></a></li>

                <li class="nav-header"><a ng-controller="logoutController" ng-click="logout()" href="index"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> <%=lang.logout%></a></li>
            </ul>
    </div>
<div id="listado-contactos" >
    <ul class="list-group">
            <div class="panel-heading"><%=lang.conectedContacts%>:</div>
            <a href="#" class="list-group-item boton-listado">Contacto 1</a>
            <a href="#" class="list-group-item boton-listado">Contacto 2</a>
            <a href="#" class="list-group-item boton-listado">Contacto 3</a>
            <a href="#" class="list-group-item boton-listado">Contacto 4</a>
    </ul>
</div>
        <div ng-controller="salaController" id="listado-salas" class="btn-group-vertical">
            <div class="panel-heading"><%=lang.roomsAccess%>:</div>
            <button ng-repeat="sala in salas" ng-click="accederSala(sala.idSala)" class="list-group-item boton-listado">{{sala.nombre}}</button>
        </div>

</div>
</body>
</html>