<!DOCTYPE html>
<html ng-app="webApp">
<head>
    <title>Página personal</title>

    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">

    <!-- Scripts y hojas de estilos compartidos -->
    <% include partials/shared-head %>

    <!-- Hojas de estilos y scripts -->
    <link rel="stylesheet" href="/public/stylesheets/personalPage.css">
    <link rel="stylesheet" href="/angucomplete/angucomplete.css"/>


    <!-- Controladores-->
    <script src='/public/javascripts/controllers/salaController.js'></script>
    <script src='/public/javascripts/controllers/logoutController.js'></script>
    <script src='/public/javascripts/controllers/dialogController.js'></script>
    <script src='/public/javascripts/controllers/solicitudContactoController.js'></script>


</head>
<body>

<!-- Cabecera -->
<% include partials/header %>

<div class="container">

    <!-- Menu lateral -->
    <div ng-controller="dialogController" class="menu-lateral well">
        <ul class="nav nav-list">
            <li class="nav-header"><%= lang.contacts %></li>
            <li>
                <a data-target="#addUsuario" data-toggle="modal">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%= lang.addContact %>
                </a>
            </li>
            <li>
                <a>
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <%= lang.solicitudesContacto %>
                    <span class="badge badge-info">2</span>
                </a>
            </li>
            <li>
                <a href="#"><span class="glyphicon glyphicon-ban-circle" aria-hidden="true">
                    </span> <%= lang.blockContact %>
                </a>
            </li>
            <li class="nav-header"><%= lang.rooms %></li>
            <li>
                <a data-target="#createRoom" data-toggle="modal"><span class="glyphicon glyphicon-blackboard" aria-hidden="true">
                    </span> <%= lang.createRoom %>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="glyphicon glyphicon-book" aria-hidden="true"></span> <%= lang.manageRooms %>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="glyphicon glyphicon-send" aria-hidden="true"></span> <%= lang.roomsNotifications %>
                    <span class="badge badge-info">10</span>
                </a>
            </li>
            <li class="nav-header"><%= lang.settings %></li>
            <li>
                <a href="#">
                    <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> <%= lang.accountSettings %>
                </a>
            </li>
            <li class="nav-header">
                <a ng-controller="logoutController" ng-click="logout()" href="index">
                    <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> <%= lang.logout %>
                </a>
            </li>
        </ul>
    </div>
    <!-- Fin Menu lateral -->

    <!-- Listado contactos -->
    <div id="listado-contactos">
        <ul class="list-group">
            <div class="panel-heading"><%= lang.conectedContacts %>:</div>
            <a href="#" class="list-group-item boton-listado">Contacto 1</a>
            <a href="#" class="list-group-item boton-listado">Contacto 2</a>
            <a href="#" class="list-group-item boton-listado">Contacto 3</a>
            <a href="#" class="list-group-item boton-listado">Contacto 4</a>
        </ul>
    </div>
    <!-- Fin listado contactos -->

    <!-- Listado salas -->
    <div ng-controller="salaController" id="listado-salas" class="btn-group-vertical">
        <div class="panel-heading"><%= lang.roomsAccess %>:</div>
        <button ng-repeat="sala in salas" ng-click="accederSala(sala.idSala)" class="list-group-item boton-listado">
            {{sala.nombre}}
        </button>
    </div>
    <!-- Fin listado salas -->

    <!-- Dialogs -->
    <% include partials/dialogs/solicitudContacto.ejs %>
    <% include partials/dialogs/crearSala.ejs %>

</div>
</body>
</html>